body {
    margin: 0%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#gameborder {
    width: 540px;
    height: 540px;
    border-style: solid;
    border-radius: 2px;
    border-color: black;
}